body{
    font-family: 'Inter';
    background-color: #202023;
}
a{
    cursor: pointer;
    color: #FFF;
}
header{
    /* background-color: black; */
    padding-top: 55px;
    background: url(./images/header-background.png) no-repeat;
    background-size: cover;
}
.dropdown-menu{
    background-color: #B47B48;
    padding-left: 15px;
}
h1{
    margin: 71px 0 22px ;
}
.header-button{
    width: 207px;
    height: 57px;
    border-radius: 17px;
    background: #B47B48;
    border-color: #B47B48;
    margin: 33px 0 125px;
}
.header-button:hover{
    background: #7b502a;
    border-color: #7b502a;
}
.nav-header-button{
    background: #B47B48;
    border-color: #B47B48;
}
.nav-header-button:hover, .nav-header-button:focus{
    background: #B47B48;
    border-color: #B47B48;
}

#menu{
    padding-top: 50px;
    padding-bottom: 70px;
}
.menu-title{
    margin-bottom: 30px;
}
.menu-items-border{
    border: 1px solid #FFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    max-width: 300px;
    margin: 40px auto 0;
}
.menu-img{
    max-width: 200px;
    height: 150px;
}
.about-us{
    background: url(./images/about-background.png) no-repeat;
    padding: 50px 0;
}
.about-list-item{
    flex-direction: column;
    margin: 100px auto 0;
}
.about-img{
    max-width: 218px;
}
.about-text{
    font-size: 24px;
    font-weight: 700;
}
.contacts{
    padding: 50px 0;
    background: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0.00) 100%);
}
.contacts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts-title{
    margin-bottom: 50px;
}
.where-img{
    max-width: 400px;
    margin-bottom: 50px;
}
footer{
    padding: 50px 0;
}
.footer-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/**/
.modal-title{
    margin-bottom: 40px;
}
.modal-inp{
    margin-bottom: 50px;
}
.modal-body{
    background: url(./images/modal-img.png) no-repeat;
    background-size: 250px;
    background-position: right;
}
.modal-button-subm{
    width: 207px;
    height: 57px;
    border-radius: 17px;
    background: #B47B48;
    border-color: #B47B48;
    color: #FFF;
}